@use 'vuetify' with (
  $utilities: false,
  $color-pack: false,
);

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
  --background: #121212;
  --bold-border: #020202;
  --middle-border: rgb(100, 100, 100);
  --light-border: rgb(220, 220, 220);
  --cell-color: #090d18;
  --font-white: #fefefe;
  --font-teal: #e0f2f1;
  --font-gray: rgb(30, 30, 30);
  --font-darkgray: rgb(10, 10, 10);
  --i-secundary-color: #a5caca;
  --color-selected: #42b398;
  --color-selected-soft: #dafffe;
  --wrong-cell: rgb(236, 141, 141);
  --inactive-cell: rgb(10 10 10);
}